[Unit]
Description=Mode Switcher
After=network-online.target syslog.target

[Service]
Type=simple
WorkingDirectory=/home/pi/codes/gcam
ExecStart=/home/pi/codes/gcam/mode-switcher/mode-switcher.sh
StandardOutput=syslog
StandardError=syslog
User=
Group=
Restart=on-failure

[Install]
WantedBy=multi-user.target